<title>Todo!</title>
<div class="container">
  <div class="row">
    <div class="span5">
      <h1>Todo App</h1>
      <hr>
      <p>saved todos</p>
      <%= form_tag("/todos/add", :method=>"post") do %>
        <%= text_field_tag(:todo_text) %>
        <%= submit_tag("add todo", :class=>"btn") %>
      <% end %>
      <% if !flash[:error].nil? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>
      <div class="well">
        <% @todo_items.each do |t| %>
         <li> <%= t.todo_item %> </li>
        <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
  <%= link_to "delete last todo", delete_path %>
</div> <!-- container -->
