<title>Todo!</title>
<div class="container">
  <div class="row">
    <div class="span5">
      <h1>Todo App</h1>
      <hr>
      <p>saved todos</p>

      <%= form_for @new_todo, :url => { :action => "add" }  do |f|  %>
        <%= f.text_field  :todo_item %>
        <%= f.submit "Add todo", class: "btn btn-primary" %>
      <%end%>

      <% if !flash[:error].nil? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="babywin" style ="background-image: url(<%= asset_path 'babywin.jpg' %>);">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong><%= flash[:success] %></strong>
        </div>
      <% end %>

      <div class="well">
        <%= form_tag("/todos/complete/", :method => "post") do %>
        <ul style="list-style-type:none;">
        <% @todo_items.each do |t| %>
          <% if t.completed == true %>
            <li style="color:grey;"> <%= check_box_tag  "todos_checkbox[]",t.id %>  <strike><%= t.todo_item %></strike> </li>
          <% else %>
            <li> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>  </li>
          <% end %>
        <% end %>
        </ul>
        <%= submit_tag("complete todos", :class => "btn btn-success") %>
        <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
  <%= link_to "delete last todo", delete_path %>
</div> <!-- container -->
