<title>Todo!</title>
<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Todo App</h1>
      <hr/>

      <%= form_for @new_todo, :url => { :action => "add" }  do |f|  %>
        <%= f.text_field  :todo_item %>
        <%= f.submit "Add todo", class: "btn btn-success" %>
      <%end%>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <strong><%= flash[:success] %></strong>
        </div>
      <% end %>

      <div class="well">

        <%= form_tag "/todos/complete/", :method => "post" do %>
        <ul style="list-style-type:none;">
        <% @todo_items.each do |t| %>
          <% if t.completed == true %>
            <li style="color:grey;">
              <%= check_box_tag "todos_checkbox[]", t.id %>
              <%= label_tag "todos_checkbox[]", t.todo_item, :class => "checkbox inline completed" %>
            </li>
          <% else %>
            <li>
              <%= check_box_tag "todos_checkbox[]", t.id %>
              <%= label_tag "todos_checkbox[]", t.todo_item, :class => "checkbox inline" %>
            </li>
          <% end %>
        <% end %>
        <hr/>
        <%= check_box_tag "select_all" %>
        <%= label_tag "select_all", "select all", :id => "select_all", :class => "checkbox inline" %>
        <br/>
        </ul>
        <%= submit_tag "complete todos", :class => "btn btn-success" %>
        <%= submit_tag "delete todos", :name => "delete_button", :onclick => "return confirm('Are you sure?')", :class => "btn btn-danger" %>
        <% end %>

      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
