<!--	
		application.html.erb
		Authors: Dominic Furano and Michael Smith
		Date: 4/25/14
		Description: creates the navbar.
-->

<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Create the navbar. -->
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
	
	  <!-- Each navbar link is one line below. -->
      <%= link_to "new", "/todos/index", :class => "brand" %>
      <%= link_to "incomplete", "/todos/incomplete", :class => "brand" %>
      <%= link_to "completed", "/todos/completed", :class => "brand" %>
      <%= link_to "help", "/todos/help", :class => "brand" %>
    </div>
  </div>

<%= yield %>

</body>
</html>
